<!DOCTYPE html>
<html>

<head>
  <title>Word Guess</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>

<body>
  <form action="/guess_game" method="post" name="myForm">
    <h2>{{end}}</h2>
    <p>Word Guess: </p>
    <p id="wordGuess">{{blanks}}</p>
    <p>Guesses Remaining: {{count}}</p>
    <p>Letters Guessed: {{attempt}}</p>
    <input type="text" name="guess" id="item" placeholder="Guess a letter..." maxlength="1" pattern="[A-Za-z]+" oninvalid="setCustomValidity('Please enter a letter')" onchange="try{setCustomValidity('')}catch(e){}" />
    <button type="submit">{{submit}}</button>
  </form>
  {{#end}}
    <button type="submit" onclick="window.open('https://en.wikipedia.org/wiki/{{word}}', '_blank');">Check out the word "{{word}}" on wikipedia.</button>
    <button type="submit" onclick="window.open('http://www.dictionary.net/{{word}}', '_blank');">Check out the word "{{word}}" on dictionary.net.</button>
  {{/end}}
  <div>
    <p>{{message}}</p>
  </div>
  {{^end}}
  <button type="submit">Hint</button>
  {{/end}}
  <script type="text/javascript" src="javascripts/main.js"></script>
</body>
