<!DOCTYPE html>
 <html>
   <head>
     <title>Word Guess</title>
     <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
     <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
   </head>
<body>
     <form action="/guess_game" method="post">
           <h2>{{end}}</h2>
           <p>Word Guess: </p><p id="wordGuess">{{blanks}}</p>
           <p>Guesses Remaining: {{count}}</p>
           <p>Letters Guessed: {{attempt}}</p>
           <input type="text" name="guess" placeholder="Guess a letter..." maxlength="1" />
           <button type="submit">{{submit}}</button>
      </form>
  <script type="text/javascript" src="javascripts/main.js"></script>
</body>
